<a href="https://colab.research.google.com/github/roannarum/Data-Practice/blob/main/Uji_Asumsi_Klasik.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("/content/drinks.csv")

In [4]:
data

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9
...,...,...,...,...,...
188,Venezuela,333,100,3,7.7
189,Vietnam,111,2,1,2.0
190,Yemen,6,0,0,0.1
191,Zambia,32,19,4,2.5
192,Zimbabwe,64,18,4,4.7

## UJI NORMALITAS (Kolmogorov Smirnov)
# Uji hipotesis

H0 : Variabel beer_servings memiliki distribusi normal

Ha : Variabel beer_servings tidak memiliki distribusi normal


Interval kepercayaan 95% maka a = 0,05%

Daerah kritis : H0 ditolak jika p-value > alpha

In [5]:
#statistik hitung p-value
from scipy.stats import kstest
kstest(data['beer_servings'],'norm')

KstestResult(statistic=0.8950231589631885, pvalue=2.5964374859935023e-189)

Kesimpulan : H0 tidak ditolak karena p-value < alpha. Berarti variabel bee_servings pada data memiliki distribusi normal.

karena p-value nya adalah 2,59 pangkat -189 (ini arti sebenarnya)

# Uji hipotesis

H0 : Variabel wine_servings memiliki distribusi normal


Ha : Variabel wine_servings tidak memiliki distribusi normal


Interval kepercayaan 95% maka a = 0,05%

Daerah kritis : H0 ditolak jika p-value > alpha

In [6]:
#statistik hitung p-value
from scipy.stats import kstest
kstest(data['wine_servings'],'norm')

KstestResult(statistic=0.687094427637313, pvalue=3.300727033865425e-91)

Kesimpulan : H0 tidak ditolak karena p-value < alpha. 

Berarti variabel bee_servings pada data memiliki distribusi normal.

karena p-value nya adalah 3,30 pangkat -91 (ini arti sebenarnya, jangan ngeyel)

## UJI NORMALITAS (JARQUE - BERA)

H0 : Variabel beer_servings memiliki distribusi normal

Ha : Variabel beer_servings tidak memiliki distribusi normal

Interval kepercayaan 95% maka a = 0,05%

Daerah kritis : H0 ditolak jika p-value > alpha

In [10]:
from scipy import stats

stat, p = stats.jarque_bera(data['beer_servings'])
stat, p

(22.993078960500824, 1.0165209712531542e-05)

Kesimpulan : H0 tidak ditolak karena p-value < alpha. Berarti variabel bee_servings pada data memiliki distribusi normal.

karena p-value nya adalah 1.01 pangkat -05 (ini arti sebenarnya)

## UJI AUTOKORELASI (DURBIN WATSON)

# Uji Hipotesis

H0 : data tidak mengandung autokorelasi

Ha : data mengandung autokorelasi

Interval kepercayaan 95% maka alpha = 0,05.

Daerah kritis:

H0 ditolak jika 0 < DW < d(lower) atau 4-d(lower) < DW < 4

H0 diterima d(upper) < DW < 4-d(upper)

In [11]:
#Statistik Hitung

from statsmodels.formula.api import ols #salah satu metode untuk membentuk regresi linier. kalo multilinier tidak bisa
model = ols("total_litres_of_pure_alcohol ~ beer_servings + spirit_servings + wine_servings", data=data).fit() #fit untuk memberikan model yang paling baik

In [12]:
print(model.summary())

                                 OLS Regression Results
========================================================================================
Dep. Variable:     total_litres_of_pure_alcohol   R-squared:                       0.874
Model:                                      OLS   Adj. R-squared:                  0.872
Method:                           Least Squares   F-statistic:                     437.7
Date:                          Wed, 16 Nov 2022   Prob (F-statistic):           8.74e-85
Time:                                  04:08:20   Log-Likelihood:                -329.62
No. Observations:                           193   AIC:                             667.2
Df Residuals:                               189   BIC:                             680.3
Df Model:                                     3
Covariance Type:                      nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept           0.7224      0.149      4.841      0.000       0.428       1.017
beer_servings       0.0183      0.001     14.608      0.000       0.016       0.021
spirit_servings     0.0156      0.001     12.511      0.000       0.013       0.018
wine_servings       0.0160      0.001     11.112      0.000       0.013       0.019
==============================================================================
Omnibus:                      162.898   Durbin-Watson:                   1.942
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1593.746
Skew:                           3.394   Prob(JB):                         0.00
Kurtosis:                      15.333   Cond. No.                         289.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Y = 0,7224 + 0.0183X1 + 0,0156X2 + 0,0160X3

X1 = 25

X2 = 35

X3 = 120

Y = 0,7224 + 0.0183(25) + 0,0156(35) + 0,0160(120)

Y = hitung sendiri

Kesimpulan : diperoleh DW : 1,942

d(lower) : 1,7329 dan d(upper) : 1,7960 (ini dari tabel punya bapa)

DW > d(lower) dan DW < 4-d(lower)

DW > d(upper) dan DW < 4-d(upper)

**Implementasi**

H0 ditolak jika 0 < 1,942 < d(lower) **atau** (4-1,7329) < 1,942 < 4    ===> SALAH, coz tidak terpenuhi

H0 diterima:

= d(upper) < 1,942 < (4-1,7960)

= 1,7960 < 1,942 < 2,204 ===> BENAR

**ARTINYA DATA TIDAK MENGANTUK AUTOKORELASI**